<div class="user-details">
  <h1>About me</h1>
  <p>{{ site.user_description }}</p>
  <p>To discover more about my publications:</p>
  <button class="learn-more" onclick="window.location.href='https://www.researchgate.net/profile/Alexis-Malagnino'">click here</button>
</div>
<div class="user">
  <div class="tech">
    <h3>Location</h3>
    <p>Based in Chambéry, France</p>
  </div>
  <div class="tech">
    <h3>Universities</h3>
    <p>PhD from Université Grenoble Alpes & Swansea University</p>
  </div>
  <div class="tech">
    <h3>Research Institutes</h3>
    <p>Formerly associated with LECA (Laboratoire d'Ecologie Alpine) & SLAM (Swansea Lab for Animal Movement)</p>
  </div>
</div>
