<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Prog. 1</h2>
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>
  </div>
  <div class="tech">
    <h2>Prog. 2</h2>     
    <p>Most of my work has been in JavaScript/TypeScript, but I am quite familiar with Python and Java as well.</p>
  </div>
  <div class="tech">
    <h2>Prog. 3</h2>
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
