<div class="user-details">
  <h1>About me</h1>
  <p>{{ site.user_description }}</p>
  <p>To discover more about my publications:</p>
  <button> <a href="https://www.researchgate.net/profile/Alexis-Malagnino">click here</a></button>
</div>
<div class="user">
  <div class="tech">
    <h3>Location</h3>
    <p>Chambéry</p>
  </div>
  <div class="tech">
    <h3>University</h3>
    <p>Université Grenoble Alpes & Swansea University · LECA-Laboratoire d'Ecologie Alpine & SLAM-Swansea Lab for Animal Movement</p>
  </div>
</div>
