<div class="feedback-card">
    <div class="feedback-header">
        CONTACT ME
        </div>
    <form class="feedback-body" name="contact" method="POST" data-netlify="true">
        <input class="feedback-body__email" placeholder="Email" type="email" name="email" />
        <input class="feedback-body__email" placeholder="Object" type="text" name="object" />
        <textarea  class="feedback-body__message" placeholder="Message" name="message"></textarea>
        <button class="feedback-body__submit" type="submit">Send</button>
    </form>
</div>